@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject ChatManager ChatManager 
<div class="row top-space">
    <!-- <div class="form-control">-->
    <div class="list-group" >
        <ul id="messages">
            @foreach (var item in ChatManager.Messages)
            {
                <li>@item.UserId Said: @item.Message</li>
            }
        </ul>
</div>
    <!-- <ul class="list-group" id="messages"></ul>-->
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Small</span>
        <input type="text" class="form-control" id="message-content" aria-label="Send Message" aria-describedby="inputGroup-sizing-sm">
    </div>

</div>
<!--</div>-->

@section Scripts{
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}